body {
    background-color: #202020
}

#actionPage {
    margin-top: 5%;
    margin-left: 5%;
}

.calBoard {
    height: 575px;
    overflow: scroll;
    margin-bottom: 200px;
}

.leaderboard {
    height: 350px;
    margin-left: 0;
}

.winningTeams {
    height: 300px;
}