#adminPage {
  margin-top: 100px;
}

.formAdmin {
  color: gold;
  max-width: 60%;
  margin-left: 20%;
}

.adminFormHeading {
  font-size: 3rem !important;
  margin-bottom: 5vh;
  color: white;
  font-family: "Special Elite", cursive;
}

.adminFormLabel {
  font-size: 2rem;
  margin-bottom: 1vh;
  margin-top: 1vh;
  width: 100%;
}

.adminFormOption {
  max-width: 100%;
}

.adminChallengeButtonRow {
  width: 100%;
  margin-bottom: 5vh;
}

.adminChallengeButton {
  width: 30vw;
  margin: 0 auto;
}

a {
  color: white;
}

#adminPage {
  font-family: "Special Elite", cursive;
  margin-top: 7%;
  text-align: center;
}

#adminPage h1 {
  color: gold !important;
  margin-bottom: 2%;
}

#adminPage h3 {
  color: white;
}

.adminTablePage {
  margin-top: 7%;
  margin-bottom: 10%;
}

#chalDeletionPage {
  font-family: "Special Elite", cursive;
  margin-bottom: 10%;
}

.challengeDeletionModal {
  font-family: "Special Elite", cursive;
  color: gold;
}

.deletionRow p {
  font-size: 22px;
  margin: 0 auto;
}

.deletionRow strong {
  color: red;
  font-size: 14px;
  margin: 0 auto;
}

#adminActions {
  margin-top: 1vw;
  margin-bottom: 1vw;
  text-align: center;
  width: 100%;
}

#adminActions .btn {
  white-space: pre-wrap;
  margin: 2%;
}

.challengeButtons {
  margin: 1%;
}

#adminChals,
#adminUsers {
  margin-top: 10% !important;
}

#editUsersPage {
  color: gold;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.usersTable {
  text-align: center;
  margin: 0 auto;
  width: 60vw;
}

.userDataRowHeader {
  font-size: 2rem;
  font-weight: 900;
  color: #ffc107;
  margin-bottom: 5vh;
}

.userDataPickSpan p {
  margin-bottom: 2vh;
  color: white;
  /* background-color: white; */
}

#adminUsers {
  margin-bottom: 3%;
}

.usersButtons {
  margin: 1%;
}

#challengePage {
  margin-top: 20vh;
  margin-bottom: 10%;
  text-align: center;
}

.chalUsers {
  color: gold;
  font-size: 24px;
}

.adminDatabaseHeader {
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 1.5rem;
  color: white;
}

.adminDatabaseControlsRow {
  width: 80%;
  margin: 0 auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.adminDatabaseControlsButton {
  width: 25%;
  margin: 0 auto;
  background-color: #ffc107;
  color: darkblue;
}

@media (min-width: 200px) and (max-width: 900px) {
  #adminPage {
    margin-top: 25%;
    margin-bottom: 40%;
  }
  #editUsersPage {
    margin-top: 25%;
    margin-bottom: 40%;
  }
  #challengePage {
    margin-top: 25%;
    margin-bottom: 40%;
  }
  #chalDeletionPage {
    margin-top: 25%;
    margin-bottom: 40%;
  }
  #challengePage {
    margin-top: 25%;
    margin-bottom: 40%;
    text-align: center;
  }

  .chalUsers {
    color: gold;
    font-size: 16px;
  }
}

#adminPage {
  margin-bottom: 10%;
}

@media (max-width: 900px) {
  #adminPage {
    margin-top: 30%;
    margin-bottom: 40%;
  }
}
