#editChallengePage {
    color: gold;
    /* margin: 0 auto; */
    margin-bottom: 10%;
}

#editChalForm {
    justify-content: center;
    /* margin-top: 5%; */
}

.formPlaceholder {
    text-align: center;
}

@media (max-width: 900px) {
    #editChallengePage {
        margin-bottom: 20%;
    }
  }

