#homePage {
    width: 90%;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 10%;
    font-family: 'Audiowide', cursive;
    /* font-family: 'Special Elite', cursive; */
}

.homePageBoard {
    /* margin-top: 8%; */
    color: gold;
    margin-bottom: 30%;
}

/* MY CHALLENGES */
.myChallenges {
    text-align: center;
    overflow: auto !important;
}
.myChallenges .challengeButton {
    margin: 1%;
    margin-top: 5%;
    
}

.myChallenges .btn {
    white-space: pre-wrap !important;
    background-color: #209CEE;
    border: solid 2px gold;
}

.myChallenges, .upcomingChallengesCol {
    color: #209CEE;
    border-radius: 5%;
    background-color: rgb(58, 56, 56);
    margin: 1%;
}

.messageBoardPage {
    border-radius: 5%;
    background-color: rgb(58, 56, 56);
    margin: 1%;
}

/* .upcomingChallengesCol {
    max-width: 700px !important;
} */

.homePageBoard h1 {
    margin-top: 5%;
    margin-bottom: 2%;
}


/* UPCOMING CHALLENGES */
.upcomingChallenges {
    text-align: center;
    overflow: auto !important;
}
.upcomingChallengesCol {
    text-align: center;
    overflow: auto;
}
.upcomingChallenges .challengeButton {
    white-space: pre-wrap
}
.upcomingChallenges .card {
    border: none;
}
.upcomingChallenges .challengeCard {
    /* float: left; */
    display: inline-block;
    margin: 0 auto ;
    margin-bottom: 5%;
    margin: 1%;
    width: 95%;
    height: 30%;
    border: solid 8px gold;
    border-radius: 1%;
}
.challengeCard .titleCol {
    float: left;
    margin: 0 auto;
    margin-top: 8%;
    background-color: rgb(58, 56, 56);
    padding: 5%;
    border-radius: 4%;
}

.challengeCard .details {
    float: left;
    margin: 0 auto;
}
.challengeCard .card-title {
    font-weight: bolder;
    font-size: 16px;
}
.challengeCard .card-subtitle {
    font-size: 12px;
    margin: 5px;
}
.challengeCard .card-body {
    color: gold;
    background-color: #209CEE;
}
.challengeCard .card-link {
    color: gold;
    padding: 2%;
    font-weight: bolder;
}
.challengeCard .card-link:hover {
    background-color: gold !important;
    color: #209CEE !important;
    cursor: pointer !important;
}
.challengeCard .signUpDate {
    color: white !important;
}
.challengeCard .rulesLink {
    color: white !important;
    border-radius: 5%;
}
.challengeCard .signUp {
    border: solid 2px gold;
    border-radius: 5%;
    padding: 2%;
    color: lightgreen !important;
    margin-bottom: 1%;
}
.challengeCard .challengeInfo {
    font-size: 22px;
    
}
.titleCol .card-title {
    font-size: 24px;
}



/* CHALLENGE MODAL */
.challengeModal {
    align-content: center;
    color: gold;
}

.challengeModal strong {
    margin-left: 1%;
    margin-right: 1%;
    color: lightgreen !important;
}

.thisChallenge, .challengeStatus {
    margin: 0 auto;
}

.buyIn {
    color: lightgreen !important;
}

.signUpDate, .remainingSpots {
    color: red !important;
}


/* MESSAGE BOARD */
.messageBoardPage {
    height: 600px;
    text-align: center;
}
.messageBoard {
    max-height: 400px !important;
    text-align: center;
    margin-bottom: 5% !important;
}

.recentMessagesButton {
    margin: 0 auto;
}

.messageList {
    max-height: 400px !important;
    min-width: 100%;
    overflow-y: scroll !important;
    text-align: center !important;
}

.messageBox {
    width: 90%;
    position: relative;
    bottom: 0;
    color: white;
    margin: 0 auto;
    margin-top: 10%;
    /* margin-top: 10%; */
    padding-top: 5%;
    border-top: solid 3px gold;
    text-align: center !important;
}

.messageBox label {
    margin: 0 auto !important;
    margin-bottom: 2% !important;
}

#messageType {
    margin-bottom: 1%;
}

.messageBox .submit {
    margin: 0 auto;
    margin-top: 2%;
}

.rce-mbox-text {
    color: black !important;
    font-size: 12px;
    margin: 2%;
    text-align: left !important;
}

.rce-mbox-time {
    font-size: 8px;
}

.challengeCard .card-subtitle {
    font-size: 18px;
}

@media (min-width: 930px) and (max-width: 1100px) {
    .homePageBoard h1 {
        font-size: 20px !important;
    }
    .upcomingChallengesCol, .myChallenges {
        min-width: 100%;
        padding-right: 1%;
        padding-left: 1%;
    }

    .messageBoard {
        min-width: 100%;
    }

    .messageBoardPage {
        min-width: 100%;
    }

    .challengeCard {
        margin: 0 auto;
        width: 100%; 
        max-height: 100% !important; 
        height: 300px;
        overflow: auto !important;
    }
    .challengeCard .card-subtitle {
        font-size: 14px;
    }
    .challengeCard .challengeInfo {
        font-size: 12px;
    }
    .challengeCard .card-title {
        font-size: 16px;
    }
    .signUp {
        font-size: 12px !important;
    }
}

@media (min-width: 640px) and (max-width: 929px) {
    /* .homePageBoard {
        margin-top: 14% !important;
    } */
    .homePageBoard h1 {
        font-size: 18px !important;
    }

    .homePageBoard h1 {
        font-size: 20px !important;
    }
    .upcomingChallengesCol, .myChallenges {
        min-width: 100%;
        padding-right: 1%;
        padding-left: 1%;
    }

    .messageBoard {
        min-width: 100%;
    }

    .messageBoardPage {
        min-width: 100%;
    }
    .challengeCard {
        font-size: 15px;
        margin: 0 auto;
        width: 100%; 
        max-height: 100% !important; 
        height: 200px;
        overflow: auto !important;
    }

    .challengeCard .card-title {
        font-weight: bolder;
        font-size: 13px !important;
    }
    .challengeCard .card-subtitle {
        font-size: 12px;
        margin: 5px;
    }

    .rce-mbox {
        width: 70%;
    }
    .rce-mbox-text {
        font-size: 15px;
    }
    
    .rce-mbox-time {
        font-size: 10px;
    }

    .myChallenges .challengeButton {
        font-size: 10px;
    }

    .myChallenges {
        padding: 0;
    }

    .messageBoardPage {
        margin-top: 8%;
        min-width: 100%;
        text-align: center;
        border-top: solid 2px gold;
    }

    .messageBoardPage h1 {
        padding-top: 5%;
    }
    
    .messageBox {
        position: relative !important;
        width: 90%;
        text-align: center;
        /* align-content: center; */
        margin-left: 5% !important;
    }

    .messageBoard {
        height: 700px;
        padding: 0;
    }
}

@media (min-width: 470px) and (max-width: 639px) {
    /* .homePageBoard {
        margin-top: 18% !important;
    } */
    .homePageBoard h1 {
        font-size: 18px !important;
    }

    .upcomingChallenges {
        min-width: 70%;
        padding-right: 0;
    }

    .challengeCard {
        font-size: 12px;
        margin: 0 auto;
        width: 90% !important; 
        /* max-height: 100% !important;  */
        height: 200px;
        overflow: auto !important;
    }

    .challengeCard .card-title {
        font-weight: bolder;
        font-size: 16px !important;
    }
    .challengeCard .card-subtitle {
        font-size: 14px;
        margin: 5px;
    }

    .challengeInfo {
        font-size: 12px !important;
    }
    .rulesLink {
        font-size: 13px;
    }
    .signUp {
        font-size: 13px;
    }
    .rce-mbox {
        width: 70%;
    }
    .rce-mbox-text {
        font-size: 12px;
    }
    
    .rce-mbox-time {
        font-size: 8px;
    }

    .myChallenges .challengeButton {
        font-size: 10px;
    }

    .myChallenges {
        margin: 1%;
    }

    .messageBoardPage {
        margin-top: 8%;
        min-width: 100%;
        text-align: center;
        border-top: solid 2px gold;
    }

    .messageBoardPage h1 {
        padding-top: 5%;
    }
    
    .messageBox {
        position: relative !important;
        width: 90%;
        text-align: center;
        /* align-content: center; */
        margin-left: 5% !important;
    }

    .messageBoard {
        height: 700px;
        padding: 0;
    }
}

@media (min-width: 300px) and (max-width: 469px) {
    .homePageBoard h1 {
        font-size: 12px !important;
        margin-bottom: 5px;
    }

    .upcomingChallengesCol {
        min-width: 98%;
        padding-right: 0;
        padding-left: 5%;
    }

    .challengeCard {
        font-size: 9px;
        margin: 0 auto;
        width: 100% !important; 
        /* max-height: 100% !important;  */
        height: 100%;
        overflow: auto !important;
    }

    .challengeCard .card-title {
        font-weight: bolder;
        font-size: 12px !important;
    }
    .challengeCard .card-subtitle {
        font-size: 12px;
        margin: 5px;
    }

    .challengeInfo {
        font-size: 10px !important;
    }
    .rulesLink {
        font-size: 11px;
    }
    .signUp {
        font-size: 11px;
    }
    .rce-mbox {
        width: 70%;
    }
    .rce-mbox-text {
        font-size: 12px;
    }
    
    .rce-mbox-time {
        font-size: 8px;
    }

    .myChallenges .challengeButton {
        font-size: 10px;
    }

    .myChallenges {
        padding: 0;
        min-width: 99%;
    }

    .messageBoardPage {
        margin-top: 8%;
        min-width: 99%;
        text-align: center;
        border-top: solid 2px gold;
        margin-bottom: 20% !important;
    }

    .messageBoardPage h1 {
        padding-top: 5%;
    }
    
    .messageBox {
        position: relative !important;
        width: 90%;
        text-align: center;
        /* align-content: center; */
        margin-left: 5% !important;
    }

    .messageBoard {
        height: 700px;
        padding: 0;
        
    }
}

#homePage {
    margin-bottom: 10%;
}

.fa-strikethrough {
    font-size: 14px;
}

@media (max-width: 900px) {
    #homePage {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .fa-strikethrough {
        font-size: 8px;
    }
    .upcomingChallenges {
        max-height: 400px;
        padding-right: 6%;
    }
}

.chalDelay {
    text-align: center;
}
