@font-face {
  font-family: bodyfont;
  src: url("./fonts/bodyfont.ttf");
}

@font-face {
  font-family: bodyfont-semibold;
  src: url("./fonts/bodyfont-semibold.ttf");
}

@font-face {
  font-family: bodyfont-bold;
  src: url("./fonts/bodyfont-bold.ttf");
}

#landingPage {
  background: linear-gradient(rgba(206, 217, 238, 0.25), #209cee),
    url("./images/landing5.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.lazyHero {
  position: relative;
  margin-top: 0vh;
  height: 100vh;
}

.landingHeader {
  position: relative;
  padding-top: 20vh;
  height: 100vh;
}

.jIyzwq {
  opacity: 1 !important;
  height: 100vh;
}

.cfRRNW {
  height: 100vh;
  background-position-y: -550px !important;
}

.bRjMMg {
  position: relative !important;
  min-height: 370px !important;
}

.heroTitle {
  position: relative;
  top: 5vh;
  width: 100%;
  text-align: center;
  /* font-family: "Audiowide", cursive; */
  font-family: "Special Elite";
  text-shadow: 2px 2px black;
  font-size: 50px;
  color: #209cee;
  /* margin-top: 5% !important; */
  /* margin-bottom: 3%; */
  font-weight: 700;
}

.heroText {
  position: relative;
  top: 0;
  /* font-family: "Audiowide", cursive;
  font-family: "Special Elite", cursive; */
  font-family: 'bodyfont-bold', sans;
  font-size: 32px;
  font-weight: 900;
  /* color: #209cee; */
  color: white;
  padding: 45px;
  width: 80%;
  margin: 0 auto;
  text-shadow: 2px 2px black;
  text-align: center;
}

.landingActionButtonRow {
  width: 50vw;
  margin: 0 auto;
}

.signUpButton {
  position: relative;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: gold;
  text-shadow: 1px 1px black;
  border: solid 3px white;
  font-size: 1rem;
  font-weight: 900;
  width: 30%;
  margin: 0 auto;
}

.loginButton {
  position: relative;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: gold;
  text-shadow: 1px 1px black;
  border: solid 3px white;
  margin-left: 1%;
  font-size: 1rem;
  font-weight: 900;
  width: 30%;
  margin: 0 auto;
}

.emphasis {
  color: gold;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 5px 5px 5px #209cee;
  border-bottom: solid 10px #209cee;
  border-radius: 5%;
  padding-bottom: 2px;
}

.landingBoard {
  margin-top: 10%;
}

.landingBoard h1 {
  color: gold;
}

@media (min-width: 200px) and (max-width: 500px) {
  .heroTitle {
    font-size: 18px;
  }
  /* .heroTitle .emphasis {
    font-size: 20px;
  } */
  .heroText {
    top: 5vh;
    font-size: 16px;
    width: 100%;
    margin-bottom: 5vh;
  }
  .signUpButton {
    font-size: 14px;
  }
  .loginButton {
    font-size: 14px;
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  .heroTitle {
    font-size: 24px;
  }
  /* .heroTitle .emphasis {
    font-size: 28px;
  } */
  .heroText {
    font-size: 20px;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  .heroTitle {
    font-size: 40px;
  }
  /* .heroTitle .emphasis {
    font-size: 45px;
  } */
  .heroText {
    font-size: 28px;
  }
}

@media (min-width: 1001px) {
  /* .signUpButton {
    font-size: 14px;
  }
  .loginButton {
    font-size: 14px;
  } */
}

@media (max-width: 900px) {
}


/* ----------- LAPTOPS ----------- */

/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-height: 1000px) and (max-device-width: 699px) and (-webkit-min-device-pixel-ratio: 1) {
}

@media screen and (min-device-width: 700px) and (max-device-width: 2200px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- iPads ----------- */

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhones ----------- */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .heroTitle {
   font-size: 2rem;
  }

  .emphasis {
    font-size: 2rem;
  }
  
  .heroText {
    padding: 1rem;
    top: 5vh;
    width: 100%;
    margin-bottom: 5vh;
  }
  
  .landingActionButtonRow {
   width: 100vw;
  }
  
  .signUpButton {
  
  }
  
  .loginButton {
    
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (min-device-height: 365px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}
