.playerRow .recentPicks {
    margin-top: 2% !important;
    margin-bottom: 0 !important;
    height: 250px !important;
    width: 37% !important;
}

.playerRow .jumbotron {
    margin-top: 2% !important;
    margin-bottom: 0 !important;
    height: 250px !important;
    max-width: 40% !important;
}

.userTimer {
    margin-top: 0;
    margin-bottom: 5%;
}

@media (min-width: 1300px) {
    .leaderboard {
        color: gold;
        text-align: center;
        margin-left: 10% !important;
        overflow: auto;
        margin-bottom: 25px;
        min-width: 100% !important;
        box-sizing: content-box;
        border: dashed 3px #209CEE;
        border-radius: 5%;
        padding: 5%;
    }
    th.leaderboardHeader {
        color: gold !important;
        max-width: 5%;
        font-size: 80% !important;
    }
    td.leaderRow {
        color: gold !important;
        font-size: 100% !important;
        border: none;
    }

    td.leaderRow.username:hover {
        cursor: pointer;
        background-color: gold !important;
        color: #209CEE !important;
        font-size: 100% !important;
    }

    .playerModal {
        min-width: 90%;
    }

    .playerRow .jumbotron {
        margin-left: 4%;
        padding: 8px;
        /* min-width: 55%; */
        height: 220px;
        background-color: #209CEE;
    }

    .playerRow .playerJumbo {
        width: 40% !important;
    }

    .teamLogos {
        margin-left: 3%;
    }

    .no-js #loader { color: gold; display: none;  }
    .js #loader { color: gold; display: block; position: absolute; left: 100px; top: 0; }
    .se-pre-con {
        position: fixed;
        color: gold;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(images/Preloader_5.gif) center no-repeat black;
    }

    .win {
        background-color: lightgreen !important;
        color: #209CEE !important;
    }

    .loss {
        background-color: red !important;
        color: white !important;
    }

    ._loading_overlay_content {
        color: gold !important;
        background-color: #209CEE !important;
        padding: 10px;
    }
    
}

@media (min-width: 1000px) and (max-width: 1299px) {
    .leaderboard {
        color: gold;
        margin-left: 15% !important;
        overflow: auto;
        margin-bottom: 25px;
        min-width: 100% !important;
    }
    .playerModal {
        min-width: 90%;
    }

    .playerRow .jumbotron {
        min-width: 50% !important;
        margin-left: 3%;
        padding: 10px;
        height: 200px;
        margin-top: 2%;
        background-color: #209CEE;
    }

    .teamLogos {
        margin-left: 3%;
    }
    .win {
        background-color: lightgreen !important;
        color: #209CEE !important;
    }

    .loss {
        background-color: red !important;
        color: white !important;
    }
    ._loading_overlay_content {
        color: gold !important;
        background-color: #209CEE !important;
        padding: 10px;
    }
    .leaderRow :hover {
        background-color: gold !important;
        color: #209CEE !important;
        font-size: 65% !important;
        padding-right: 0 !important;
    }

}
@media (min-width: 765px) and (max-width: 999px) {
    .leaderboard {
        color: gold;
        margin-left: 15% !important;
        overflow: auto;
        margin-bottom: 25px;
        min-width: 100% !important;
    }
    th.leaderboardHeader {
        color: gold !important;
        max-width: 5%;
        font-size: 60% !important;
        padding-right: 0 !important;
        font-size: 80% !important;
    }
    td.leaderRow {
        color: gold !important;
        font-size: 65% !important;
        padding-right: 0 !important;
    }
    .playerModal {
        min-width: 90%;
    }

    .playerRow .jumbotron {
        min-width: 45% !important;
        margin-left: 3%;
        padding: 13px;
        height: 190px;
        margin-top: 5%;
        background-color: #209CEE;
    }

    .teamLogos {
        margin-left: 3%;
    }
    .win {
        background-color: lightgreen !important;
        color: #209CEE !important;
    }

    .loss {
        background-color: red !important;
        color: white !important;
    }
    ._loading_overlay_content {
        color: gold !important;
        background-color: #209CEE !important;
        padding: 10px;
    }
    .leaderRow :hover {
        background-color: gold !important;
        color: #209CEE !important;
        font-size: 65% !important;
        padding-right: 0 !important;
    }
}

@media (min-width: 550px) and (max-width: 764px) {
    .leaderboard {
        font-size: 50% !important;
        color: gold;
        overflow: auto;
        margin-top: 0 !important;
        margin-bottom: 25px;
        margin-left: 10% !important;
        margin-right: 10%;
        max-width: 80% !important;
    }
    .leaderboard :active {
        overflow: auto;
    }
    .playerModal {
        min-width: 90%;
    }
    .playerRow .jumbotron {
        min-width: 32% !important;
        margin-left: 3%;
        margin-top: 7%;        
        height: 190px;
        padding: 7px;
        background-color: #209CEE;
    }

    .teamLogos {
        margin-left: 1%;
    }
    .win {
        background-color: lightgreen !important;
        color: #209CEE !important;
    }

    .loss {
        background-color: red !important;
        color: white !important;
    }
    ._loading_overlay_content {
        color: gold !important;
        background-color: #209CEE !important;
        padding: 10px;
    }
    .leaderRow :hover {
        background-color: gold !important;
        color: #209CEE !important;
        font-size: 65% !important;
        padding-right: 0 !important;
    }
    
}

@media (max-width: 549px) {
    .leaderboard {
        font-size: 30% !important;
        color: gold;
        overflow: auto;
        margin-top: 0 !important;
        margin-bottom: 25px;
        margin-left: 10% !important;
        margin-right: 10%;
        max-width: 80% !important;
    }
    .leaderboard :active {
        overflow: auto;
    }
    .playerModal {
        min-width: 90%;
    }

    .playerRow .jumbotron {
        max-width: 35% !important;
        margin-left: 5%;
        margin-top: 5%;
        min-height: 220px;
        padding: 7px;
        padding-left: 0;
        background-color: #209CEE;
    }

    .profilePicks {
        max-width: 53% !important;
    }

    .profilePicks .col-10 {
        padding: 0 !important;
    }

    .teamLogos {
        margin-left: 1%;
    }
    .win {
        background-color: lightgreen !important;
        color: #209CEE !important;
    }

    .loss {
        background-color: red !important;
        color: white !important;
    }
    ._loading_overlay_content {
        color: gold !important;
        background-color: #209CEE !important;
        padding: 10px;
    }
    .leaderRow :hover {
        background-color: gold !important;
        color: #209CEE !important;
        font-size: 65% !important;
        padding-right: 0 !important;
    }
    
}

.playerRow .profilePicks {
    min-width: 40%;
}

.playerRow .playerJumbo {
    width: 130% !important;
}

.display-4 .recordRow {
    width: 100% !important;
}

