#loginPage {
  min-height: 100vh;
}

#loginPage .formLogin {
  position: relative;
  top: 20vh;
}

.formLoginContainer {
  position: relative;
  min-height: 100vh;
}

.formAdminLoginContainer {
  border-radius: 1rem;
}

.formLogin,
.formAdminLogin {
  color: gold;
  max-width: 60%;
  margin-left: 20%;
  text-align: center !important;
  border-radius: 1rem;
}

.formLoginHeading {
  text-align: center;
}

.registration {
  text-align: center;
}

a {
  color: white;
}

.btnMaster {
  color: #209cee;
  background-color: gold !important;
}

.invalidToken {
  color: red;
  font-weight: bolder;
  font-size: 110%;
  text-align: center !important;
}

#loginPageAdmin {
  margin: 0 auto;
  margin-top: 25vh;
  height: 100%;
  width: 80%;
  background-color: gold;
  border-radius: 1rem;
  padding: 5vw;
}

#loginPageAdmin .formLoginHeading {
  color: #209cee;
}

#loginPageAdmin a {
  color: #209cee;
}

.forgotLabel {
  padding: 1vw;
}

@media (min-width: 501px) and (max-width: 1300px) {
  .formLogin {
    margin-top: 20%;
  }

  .formLogin .checkbox {
    margin: 5% !important;
  }
}

@media (max-width: 500px) {
  .formLogin {
    margin-top: 40%;
  }

  .formLogin .checkbox {
    margin: 5% !important;
  }
}
