#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    margin-bottom: 100px;
    background-color: #fff;
    font-family: 'Special Elite', cursive;
    /* font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; */
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #209CEE;
    font-family: 'Special Elite', cursive;
    /* font-family: 'Audiowide', cursive; */
  }

  #mainNav .navbar-brand.username {
    color: white;
    margin: 0 auto;
  }
  
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #209CEE;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-family: 'Audiowide', cursive;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color:#209CEE;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #209CEE;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #209CEE !important;
    background-color: gold;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: gold;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .username {
    margin: 0 auto;
    margin-top: 10%;
  }

  .challengeName {
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 5%
  }

  .footer {   
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #209CEE !important;
    color: gold !important;
    text-align: center;
  }

  @media (min-width: 992px) {
    #mainNav {
      border-color: gold;
      background-color: gold;
    }
  
    /* logo  */
    #mainNav .navbar-brand {
      color: #209CEE; 
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: 212529(131, 91, 91);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
      color: 212529(255, 255, 255, 0.7);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: white;
    }
    #mainNav.navbar-shrink {
      border-bottom: 1px solid rgba(33, 37, 41, 0.1);
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #209CEE;
    }
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
      color: #209CEE;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
      color: #212529;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #209CEE;
    }
    .challengeName {
      margin-top: 6%;
      color: white; 
    }
  }
  
  @media (min-width: 776px) and (max-width: 992px) {
    #mainNav {
      border-color: gold;
      background-color: gold;
    }
  
    /* logo  */
    #mainNav .navbar-brand {
    color: #209CEE; 
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: 212529(131, 91, 91);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
      color: 212529(255, 255, 255, 0.7);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: white;
    }
    #mainNav.navbar-shrink {
      border-bottom: 1px solid rgba(33, 37, 41, 0.1);
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #209CEE;
    }
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
      color: #209CEE;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
      color: #212529;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #209CEE;
    }

    .navItems {
      position: fixed;
      z-index: 0;
      right: 0;
      margin-right: 85px;
      background-color: #209CEE;
      color: gold !important;
      border: solid 1px gold;
    }

    .nav-link {
      color: gold !important;
    }
    .challengeName {
      margin-top: 10%;
      color: white; 
    }
    
  }
  
  @media (max-width: 775px) {
    #mainNav {
      border-color: gold;
      background-color: gold;
    }
  
    /* logo  */
    #mainNav .navbar-brand {
    color: #209CEE; 
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: 212529(131, 91, 91);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
      color: 212529(255, 255, 255, 0.7);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: white;
    }
    #mainNav.navbar-shrink {
      border-bottom: 1px solid rgba(33, 37, 41, 0.1);
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #209CEE;
    }
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
      color: #209CEE;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
      color: #212529;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: gold !important;
    }
  
    .navItems {
      position: absolute;
      z-index: 0;
      top: 43px;
      right: -22px;
      margin-right: 60px;
      background-color: #209CEE;
      color: gold !important;
      border: solid 1px gold;
    }

    .nav-link {
      color: gold !important;
    }
    .challengeName {
      margin-top: 13%;
      color: white; 
    }

  }

  @media (max-width: 630px) {
    .homePageBoard {
      margin-top: 0 !important;
    }
    .navbar-brand {
      font-size: 14px;
    }
    .username {
      color: white;
    }
    .challengeName {
      margin-top: 18%;
      color: white; 
    }
  }

  @media (max-width: 330px) {
    .navbar-brand {
      font-size: 10px;
    }
    .username {
      margin: 0 auto;
      margin-top: 20%;
      
    }
    /* .container {
      width: 100px !important;
    } */
  }
  
  
  
  
  