@media (min-width: 1300px) {
  .profileData {
    font-size: 35px;
    margin-top: 3%;
  }
  
  .teamButton {
    width: 90px;
    height: 100px;
  }
  
  .profLogo {
    width: 55px;
    height: 70px;
  }
  
  /* .Button {
    min-height: 75px !important;
    max-width: 150px !important;
  } */
  
  .teamLogos {
    margin-right: 50px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    overflow: scroll;
    
  }
  
  .teamLogo {
    padding: 0;
    margin-bottom: 5px;
  }
  
  .jumbotron {
    padding: 8px;
    min-width: 70%;
    max-height: 190px;
    background-color: darkblue;
  }
  
  .display-4 {
    height: 20px;
    font-size: 25px;
    color: gold;
    font-weight: bold;
  }

  .recentPicks {
    color: white;
    background-color: darkblue;
    max-height: 200px !important;
    padding: 1%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-left: 2%;
    margin-bottom: 2%;
    overflow: scroll !important;
  }

  .recentPicks {
    position: relative;
    right: 0;
    border-collapse: collapse;
  }

  .pastPickWin {
    background-color: lightgreen !important;
    color: darkblue !important;
  }

  .pastPick {
    background-color: red !important;
    color: white !important;
  }

  .todaysPick {
    background-color: gold !important;
    color: darkblue !important;
  }

  .futurePick {
    background-color: lightgrey !important;
    color: darkblue !important;
  }

  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%
  } */

  th {
    background-color: darkblue;
    color: gold;
    border-top: none !important;
  }

  .table thead th {
      position: sticky;
      top: 0;
      z-index: 10;
  }

  .title {
    min-height: 200px !important;
    max-width: 50px;
  }

  h3 {
    position: relative;
    left: 0;
    margin-top: 70%;
    margin-right: 0;
    transform: rotate(90deg);
    line-height: 25px;
    white-space: nowrap;
    
  }

  /* .table {
    position: sticky;
    top: 0;
    z-index: 10;
  } */


  h4 {
    font-size: 30%;
    max-width: 8%;
    font-weight: bolder;
    color: darkblue;
    background-color: gold;
    padding: 5px;
    margin-bottom: 0;
  }

  h4.wins {
    margin-top: 1%;
  }

  h2 {
    margin-bottom: 0;
  }
  
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .profileData {
    font-size: 25px;
    margin-top: 3%;
  }
  
  .teamButton {
    width: 90px;
    height: 100px;
  }
  
  .profLogo {
    width: 55px;
    height: 70px;
  }
  
  /* .btn {
    min-height: 75px !important;
    max-width: 150px !important;
  } */
  
  .teamLogos {
    margin-right: 50px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    overflow: scroll;
    
  }
  
  .teamLogo {
    padding: 0;
    margin-bottom: 5px;
  }
  
  .jumbotron {
    padding: 10px;
    min-width: 60%;
    max-height: 190px;
    margin-top: 2%;
    background-color: darkblue;
  }
  
  .display-4 {
    height: 20px;
    font-size: 25px;
    color: gold;
    font-weight: bold;
  }
  .recentPicks {
    color: white;
    background-color: darkblue;
    max-height: 200px !important;
    padding: 1%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    overflow: scroll !important;
  }
  .recentPicks {
    position: relative;
    right: 0;
    border-collapse: collapse;
  }

  .pastPickWin {
    background-color: lightgreen !important;
    color: darkblue !important;
  }

  .pastPick {
    background-color: red !important;
    color: white !important;
  }

  .todaysPick {
    background-color: gold !important;
    color: darkblue !important;
  }

  .futurePick {
    background-color: lightgrey !important;
    color: darkblue !important;
  }

  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%
  } */

  th {
    background-color: darkblue;
    color: gold;
    border-top: none !important;
  }

  .table thead th {
      position: sticky;
      top: 0;
      z-index: 10;
  }

  .title {
    min-height: 200px !important;
    max-width: 50px;
  }

  h3 {
    position: relative;
    top: 0;
    margin-top: 70%;
    margin-right: 0;
    transform: rotate(90deg);
    line-height: 25px;
    white-space: nowrap;
    
  }
  h4 {
    font-size: 30%;
    max-width: 10%;
    font-weight: bolder;
    color: darkblue;
    background-color: gold;
    padding: 5px;
    margin-bottom: 0;
  }
  h4.wins {
    margin-top: 2%;
  }
  h2 {
    margin-bottom: 0;
  }
}

@media (min-width: 776px) and (max-width: 999px) {
  .profileData {
    font-size: 25px;
    margin-top: 3%;
  }
  
  .teamButton {
    width: 90px;
    height: 100px;
  }
  
  .profLogo {
    width: 55px;
    height: 70px;
  }
  
  /* .btn {
    min-height: 75px !important;
    max-width: 150px !important;
  } */
  
  .teamLogos {
    margin-right: 50px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    overflow: scroll;
    
  }
  
  .teamLogo {
    padding: 0;
    margin-bottom: 5px;
  }
  
  .jumbotron {
    padding: 13px;
    min-width: 50%;
    max-height: 180px;
    margin-top: 5%;
    background-color: darkblue;
  }
  
  .display-4 {
    height: 20px;
    font-size: 20px;
    color: gold;
    font-weight: bold;
  }
  .recentPicks {
    color: white;
    background-color: darkblue;
    max-height: 200px !important;
    padding: 1%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 5%;
    overflow: scroll !important;
  }
  .recentPicks {
    position: relative;
    right: 0;
    border-collapse: collapse;
  }

  .pastPickWin {
    background-color: lightgreen !important;
    color: darkblue !important;
  }

  .pastPick {
    background-color: red !important;
    color: white !important;
  }

  .todaysPick {
    background-color: gold !important;
    color: darkblue !important;
  }

  .futurePick {
    background-color: lightgrey !important;
    color: darkblue !important;
  }

  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%
  } */

  th {
    background-color: darkblue;
    color: gold;
    border-top: none !important;
  }

  .table thead th {
      position: sticky;
      top: 0;
      z-index: 10;
  }

  .title {
    min-height: 200px !important;
    max-width: 50px;
  }

  h3 {
    position: relative;
    top: 0;
    margin-top: 70%;
    margin-right: 0;
    transform: rotate(90deg);
    line-height: 25px;
    white-space: nowrap;
    
  }
  h4 {
    font-size: 30%;
    max-width: 15%;
    font-weight: bolder;
    color: darkblue;
    background-color: gold;
    padding: 5px;
    margin-bottom: 0;
  }
  h4.wins {
    margin-top: 2%;
  }
  h2 {
    margin-bottom: 0;
  }
}

@media (min-width: 550px) and (max-width: 776px) {
  .profileData {
    font-size: 15px;
    margin-top: 3%;
  }
  
  .teamButton {
    width: 70px;
    height: 91px;
  }
  
  .profLogo {
    width: 47px;
    height: 53px;
  }
  
  /* .btn {
    min-height: 50px !important;
    max-width: 100px !important;
  } */
  
  .teamLogos {
    margin-right: 4%;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    overflow: scroll;
  }
  
  .teamLogo {
    padding: 0;
    margin-bottom: 5px;
  }
  
  .jumbotron {
    margin-top: 7%;
    min-width: 40%;
    max-height: 150px;
    padding: 7px;
    background-color: darkblue;
  }
  
  .display-4 {
    height: 20px;
    font-size: 16px;
    color: gold;
    font-weight: bold;
    padding-bottom: 15px;
  }
  .recentPicks {
    color: white;
    background-color: darkblue;
    max-height: 150px !important;
    padding: 1%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 7%;
    overflow: scroll !important;
  }
  .recentPicks {
    position: relative;
    right: 0;
    border-collapse: collapse;
  }

  .pastPickWin {
    background-color: lightgreen !important;
    color: darkblue !important;
  }

  .pastPick {
    background-color: red !important;
    color: white !important;
    
  }

  .todaysPick {
    background-color: gold !important;
    color: darkblue !important;
    
  }

  .futurePick {
    background-color: lightgrey !important;
    color: darkblue !important;
    
  }

  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%
  } */

  th {
    background-color: darkblue;
    color: gold;
    border-top: none !important;
  }

  .table thead th {
      position: sticky;
      top: 0;
      z-index: 10;
  }

  .title {
    min-height: 200px !important;
    max-width: 50px;
  }

  h3 {
    position: relative;
    top: 0;
    margin-top: 70%;
    margin-right: 0;
    transform: rotate(90deg);
    line-height: 25px;
    white-space: nowrap;
    
  }
  h4 {
    font-size: 30%;
    max-width: 22%;
    font-weight: bolder;
    color: darkblue;
    background-color: gold;
    padding: 5px;
    margin-bottom: 0;
  }
  h4.wins {
    margin-top: 2%;
  }
  h2 {
    margin-bottom: 0;
  }
  hr {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

@media (max-width: 549px) {
  .profileData {
    font-size: 15px;
    margin-top: 3%;
  }
  
  .teamButton {
    width: 70px;
    height: 91px;
  }
  
  .profLogo {
    width: 47px;
    height: 53px;
  }
  
  /* .btn {
    min-height: 50px !important;
    max-width: 100px !important;
  } */
  
  .teamLogos {
    margin-right: 4%;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    overflow: scroll;
  }
  
  .teamLogo {
    padding: 0;
    margin-bottom: 5px;
  }
  
  .jumbotron {
    margin-top: 15%;
    max-width: 35%;
    min-height: 200px;
    padding: 7px;
    padding-left: 0;
    background-color: darkblue;
  }
  
  .display-4 {
    height: 20px;
    font-size: 13px;
    line-height: 1.5em;
    color: gold;
    font-weight: bold;
    
  }
  .recentPicks {
    color: white;
    background-color: darkblue;
    font-size: 10px;
    max-height: 188px !important;
    max-width: 50%;
    padding: 1%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 15%;
    overflow: scroll !important;
  }
  .recentPicks {
    position: relative;
    right: 0;
    border-collapse: collapse;
    font-size: 11px;
  }

  .pastPickWin {
    background-color: lightgreen !important;
    color: darkblue !important;
    font-size: 12px !important;
  }

  .pastPick {
    background-color: red !important;
    color: white !important;
    font-size: 12px !important;
  }

  .todaysPick {
    background-color: gold !important;
    color: darkblue !important;
    font-size: 12px !important;
  }

  .futurePick {
    background-color: lightgrey !important;
    color: darkblue !important;
    font-size: 12px !important;
  }

  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%
  } */

  th {
    background-color: darkblue;
    color: gold;
    border-top: none !important;
  }

  .table thead th {
      position: sticky;
      top: 0;
      z-index: 10;
  }

  .title {
    min-height: 200px !important;
    max-width: 50px;
  }

  h3 {
    font-size: 90%;
    position: relative;
    top: 0;
    margin-top: 70%;
    /* margin-right: 0; */
    transform: rotate(90deg);
    line-height: 25px;
    white-space: nowrap;
    
  }

  h4 {
    font-size: 35%;
    max-width: 45%;
    font-weight: bolder;
    color: darkblue;
    background-color: gold;
    padding: 5px;
    margin-bottom: 0;
  }

  h4.wins {
    margin-top: 2%;
  }
  h2 {
    margin-bottom: 0;
  }

}







