.profileData {
  font-size: 35px;
  margin-top: 3%;
}

.teamButton {
  width: 90px;
  height: 100px;
  border: solid 2px #209CEE
}

.teamButton img {
  border-radius: 5%;
  margin: 0%;
}

.profLogo {
  width: 55px;
  height: 70px;
}

/* .Button {
  min-height: 75px !important;
  max-width: 150px !important;
} */

.teamLogos {
  margin-right: 1%;
  margin-bottom: 20px;
  flex-wrap: nowrap;
  overflow: auto;
  
}

.teamLogo {
  padding: 0;
  margin-bottom: 5px;
}

.profileBar .jumbotron {
  padding: 8px;
  height: 220px;
  background-color: #209CEE;
}

.display-4 {
  height: 20px;
  font-size: 25px;
  color: gold;
  font-weight: bold;
}

.recentPicks {
  color: white;
  background-color: #209CEE;
  height: 220px !important;
  /* width: 90%; */
  padding: 1%;
  padding-left: 0;
  padding-right: 0 !important;
  padding-top: 0;
  margin-left: 2%;
  margin-bottom: 2%;
  overflow: auto !important;
}
.recentPicks {
  position: relative;
  right: 0;
  border-radius: 2%;
  line-height: 1.5em;
}
.recentPicks .table {
  border-top: none !important;
}

.win {
  background-color: lightgreen !important;
  color: #209CEE !important;
}
.loss {
  background-color: red !important;
  color: white !important;
}
.todaysPick {
  background-color: gold !important;
  color: #209CEE !important;
}
.futurePick {
  background-color: lightgrey !important;
  color: #209CEE !important;
}
.pending {
  background-color: #209CEE !important;
  color: gold !important;
}
.today {
  background-color: gold !important;
  color: #209CEE;
  border: solid #209CEE 2px;
}
.noGame {
  background-color: lightgrey !important;
  color: #209CEE !important;
}

.future {
  background-color: #209CEE !important;
  color: white !important;
}

.past {
  background-color: darkgrey !important;
  color: #209CEE !important;
}

th {
  background-color: #209CEE;
  color: gold;
  border-top: none !important;
}

.table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
}

.title {
  min-height: 200px !important;
  max-width: 50px;
}

.title h3 {
  color: gold;
  /* position: relative; */
  /* left: 0; */
  margin-top: 45%;
  /* margin-right: 0; */
  transform: rotate(90deg);
  /* line-height: 25px; */
  white-space: nowrap;
  
}

h4.winsTitle {
  font-size: 60%;
  /* max-width: 20%; */
  font-weight: bolder;
  color: #209CEE;
  background-color: gold;
  padding: 5px;
  margin-bottom: 0;
}

h4.winsHeader {
  margin-top: 5%;
  font-size: 60%;
  font-weight: bolder;
  color: #209CEE;
  background-color: gold;
  padding: 5px;
  margin-bottom: 5%;
  /* width: 100%; */
}

h2 {
  margin-bottom: 0;
}

@media (min-width: 950px) {
  /* .profileBar {
    margin-top: 9% !important;
  } */
  .recentPicks {
    max-width: 80% !important;
    line-height: 1.5em;
  }
  h4.winsHeader {
    margin-top: 2%;
  }
  .golfHeader {
    white-space: nowrap !important;
    width: 120px !important;
  }
}

@media (min-width: 805px) and (max-width: 949px) {
  /* .profileBar {
    margin-top: 11% !important;
  } */
  .recentPicks {
    max-width: 77%;
    line-height: 1.5em;
  }
  .recentPicks .col-10 {
    max-width: 80%;
  }
  h4.winsHeader {
    margin-top: 2%;
  }
  .display-4 {
    font-size: 14px;
  }
}

@media (min-width: 695px) and (max-width: 804px) {
  /* .profileBar {
    margin-top: 13% !important;
  } */
  /* .recentPicksRow {
     min-width: 150%; 
  } */
  .recentPicks {
    max-width: 75%;
    line-height: 1.5em;
  }
  .recentPicks tr {
    font-size: 14px;
    line-height: 1.5em;
  }
  .recentPicks .col-10 {
    max-width: 75%;
  }
  .display-4 {
    font-size: 14px;
  }
  .display-4 .col-3-md {
    width: 100% !important;
  }
  .title {
    width: 50px;
  }
  .title h3 {
    margin-right: 20px;
    font-size: 20px;
  }
  h4.winsHeader {
    width: 100%;
  }
  .recordRow {
    width: 40%;
  }
}

@media (min-width: 580px) and (max-width: 694px) {
  /* .profileBar {
    margin-top: 13% !important;
  } */
  .recentPicks {
    max-width: 60% !important;
  }
  .recentPicks tr {
    line-height: 1.5em;
    font-size: 12px;
  }
  .title {
    width: 30px;
  }
  .title h3 {
    font-size: 13px;
  }
  .display-4 {
    font-size: 17px;
  }
  h4.winsHeader {
    width: 70%;
  }
  h4.winsTitle {
    width: 70%;
  }
  .recordRow {
    width: 40%;
  }
}

@media (min-width: 500px) and (max-width: 579px) {
  .recentPicks {
    max-width: 65%;
  }
  .recentPicks tr {
    font-size: 10px;
    line-height: 1em;
  }
  .recentPicks .col-10 {
    max-width: 80%;
  }
  .title {
    width: 30px;
  }
  .title h3 {
    font-size: 13px;
  }
  h4.winsHeader {
    width: 70%;
  }
  h4.winsTitle {
    width: 70%;
  }
  .display-4 {
    font-size: 15px;
  }
  .recordRow {
    width: 40%;
  }
}

@media (min-width: 400px) and (max-width: 499px) {
  .recentPicks {
    width: 70%;
  }
  .recentPicks th {
    font-size: 10px;
  }
  .recentPicks tr {
    /* min-width: 100%; */
    font-size: 10px;
    line-height: 1em;
  }
  .profileBar .col-4 {
    flex: 0 0 33%;
    max-width: 50%;
  }
  .profileBar .col-8 {
    max-width: 240px;
  }
  .recentPicks .col-10 {
    max-width: 80%;
  }
  .title {
    width: 30px;
  }
  .title h3 {
    font-size: 10px;
  }
  h4.winsHeader {
    width: 70%;
  }
  h4.winsTitle {
    width: 70%;
  }
  .display-4 h4 {
    font-size: 13px;
  }
  .display-4 {
    font-size: 14px;
  }
  .teamLogos {
    margin-right: 3%;
  }
  .recordRow {
    width: 70%;
  }
  .jumbotron {
    width: 80%;
    padding-right: 0;
  }
  .profileBar .col-8 {
    /* max-width: 240px !important; */
    padding-right: 0 !important;
  }
  .profileBar .col-10 {
    flex: 0 0 75%;
  }
  /* .recentPicksRow {
    width: 170%;
  } */
}

@media (max-width: 399px) {
  .profileBar .col-1 {
    padding-left: 5px;
    padding-right: 0;
  }
  .profileBar .col-4 {
    min-width: 50%;
  }
  .profileBar .col-8 {
    max-width: 50%;
  }
  .recentPicks {
    max-width: 70%;
    flex: 0 0 99.333333%;
  }
  .recentPicks .col-10 {
    width: 80% !important;
  }
  .recentPicks th {
    font-size: 7px;
  }
  .recentPicks tr {
    font-size: 9px;
    line-height: 1em;
  } 
  .recentPicks td {
    max-height: 5px !important;
  }
  .title {
    float: left;
    width: 10px !important;
  }
  .title h3 {
    font-size: 12px;
  }
  h4.winsHeader {
    font-size: 8px !important;
    width: 70%;
  }
  h4.winsTitle {
    width: 70%;
  }
  .display-4 {
    font-size: 10px;
  }
  .display-4 h4 {
    font-size: 12px;
  }

  .teamLogos {
    margin-right: 3%;
  }
  .recordRow {
    width: 40%;
  }
  /* .recentPicksRow {
    width: 110%;
  } */

}

@media (min-width: 372px) and (max-width: 376px) {
  /* .recentPicksRow{
    min-width: 180%;
  } */
}

@media (max-width: 450px) {
  .profileBar .jumbotronMain .display-4 .recordRow {
    min-width: 100%;
  }
}
@media (min-width: 760px) and (max-width: 770px) {
  .profileBar .jumbotronMain .display-4 .recordRow {
    min-width: 100%;
  }
}
.mainPicks {
  width: 60% !important;
}
.recentPicks td {
  border-top: none;
}

.btn-success {
  background-color: lightgreen;
}

