#rulesPage {
    font-family: 'Abel', sans-serif;
    text-align: center;
}

#rulesHeader {
    margin-top: 10%;
    margin-left: 1%;
    color: gold;
}

hr {
    background-color: gold;
    margin-right: 1%;
}