.formContainer {
    margin-top: 100px;
}

.formSignup {
    color: gold;
    max-width: 60%;
    margin-left: 20%;
}

#usernameError {
    color: white !important;
}

.btn.submit {
    min-width: 100%;
    max-height: 40px !important;
}