.modalTitle {
    font-size: 25px;
}

.homeTeam {
    color: black
}

.awayTeam {
    color: black
}

.homeTeam:hover {
    color: green
}

.awayTeam:hover {
    color: green
}

.homeTeam:active {
    color: red
}

.awayTeam:active {
    color: red
}